body{
    margin: 0 auto;
    max-width: 600px;
    background-color: gray;
    font-family: 'Montserrat', sans-serif;
}

h1{
    margin: 0;
    letter-spacing: 1px;
}

h2{
    margin: 0;
    font-weight: normal;
}

.info{
    display: flex;
    background-color: white;
    box-shadow: 5px 2px 2px darkgray;
}

.avatar{
    height: 300px;
    filter: grayscale(1);
    float: right;
}

.name{
    display: inline-block;
}

.firstname{
    font-family: 'League Gothic', sans-serif;
    font-size: 66px;
    margin-left: 30px;
    margin-top: 40px;
    padding: 10px;
    font-weight: 500;
}

.job{
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 30px;
    padding: 10px;
}

.intro{
    margin-left: 30px;
    padding: 10px;
    font-size: 9px;
}

main{
    background-color: white;
    box-shadow: 5px 2px 2px darkgray;

}

.aboutme{
    display: flex;
}

.contacts{
    margin: 15px 30px 5px 30px;
    padding: 10px 10px 10px 0;
}

.contact_item{
    margin: 10px;
    display: flex;
}

.contact_title{
    padding-left: 10px;
    font-size: 9px;
}

.skills{
    margin-left: 30px;
    
}

.skill_p{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    padding-left: 10px;
}

.skill_h{
    font-size: 9px;
    padding-left: 30px;
}

.education{
    margin-left: 30px;
    display: grid;
    padding-left: 10px;
}

.education_p{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    margin: 15px 0;
}

.study{
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 5px;
}

.place{
    font-size: 9px;
    margin-bottom: 5px;
}

.language{
    margin-left: 30px;
    display: grid;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.language_title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    margin: 15px 0;
}

.language_name{
    font-size: 9px;
    margin-bottom: 8px;
}

.experience{
    margin-left: 30px;
    display: grid;
    padding-left: 10px;
}


.experience_p{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    margin: 15px 0;
}

.experience_text{
    font-size: 9px;
    font-weight: 600;
}

code{
    font-size: 10px;
    margin-top: 10px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.courses_p{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    margin: 15px 0;
}

.courses{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    padding-left: 10px;
    margin-left: 30px;
    margin-top: 15px;
}


.courses_h{
    font-size: 8px;
    padding-left: 30px;
}

.right{
    margin-top: 15px;
    margin-right: 30px;
}


.container{
    padding: 15px;
    background-color: white;
    display: flex;
    grid-template-rows: 1fr auto;
    min-height: 100%;
    box-shadow: 5px 2px 2px darkgray;
}

.year{
    margin-left: 40px;
    margin-top: 20px;
}

.icons{
    margin-left: 120px;
}


.link{
    text-decoration: none;
    color: black;
}
